.is-footer {
  padding: 0 .5em .5em;
  .dk-badge {
    &_title {
      display: inline-flex;
      align-items: center;
      margin-right: 0;

      > span {
        margin: 0 .25em;
      }
    }
    &_button {  
      display: inline-flex;
      vertical-align: middle;
      margin: 0 0 .15em .15em;
      width: em(15);
      height: em(15);
      
      &::before {
        content:"";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      svg .v,
      svg .h {
        display: none;
      }
      &[aria-expanded="true"] svg {
        transform: rotate(-180deg);
      }
    }

    &_content {
      position: relative;
      z-index: 1;
    }

    &_hr {display: none;}

    &_data {
      display: inline-flex;

      + .dk-badge_data {
        margin: .75em .5em;
        &::before {
          content: "•";
          color: var(--dkb-color-primary);
          margin: 0 1em 0 0;
        }
      }

      &:last-child {
        display: block;
      }
    }
  }
}