& {
  --dkb-font-family: Arial, "Helvetica Neue", system-ui, -apple-system, "verdana", "Segoe UI", Roboto, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --dkb-color-primary: #2D2AD3;
  --dkb-color-secondary: #00BC62; //unused in footer version
  --dkb-color-text: #585284;
  --dkb-color-text-light: var(--dkb-color-text);
  --dkb-color-text-strong: #070041;
  --dkb-color-contrast: #fff;
}