@import "mixins";

#dk-badge-wrapper {
  --dkb-font-family: Arial, "Helvetica Neue", system-ui, -apple-system, "verdana", "Segoe UI", Roboto, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --dkb-color-primary: #2D2AD3;
  --dkb-color-secondary: #00BC62; //unused in footer version
  --dkb-color-text: #585284;
  --dkb-color-text-light: var(--dkb-color-text);
  --dkb-color-text-strong: #070041;
  --dkb-color-contrast: #fff;
  
  .dk-badge {
    font-family: var(--dkb-font-family) !important;
    font-size: rem(14);
    position: relative;
    background-color: var(--dkb-color-contrast);
    color: var(--dkb-color-text);
    font-weight: 500;
    margin: 0;
    text-align: center;
    box-shadow: 0px 8px 16px 0px rgba(7, 0, 65, 0.08), 0px 2px 6px 0px rgba(7, 0, 65, 0.08);
  
    &_title {
      margin: 1rem rem(10) rem(5);

      span:nth-child(3) {display: none;}
    }

    &_co2 {
      display: block;
      margin: .25rem 0 0;
      font-size: 1rem;
      font-weight: bold;
      color: var(--dkb-color-primary);
    }

    &_data {
      margin: .5rem 0.2rem;

      strong {
        font-weight: bold;
        color: var(--dkb-color-text-strong);
      }

      .is-small {
        margin-top: .2rem;
        display: block;
        font-size: rem(12);
      }

      &:last-child {
        color: var(--dkb-color-text-light);
      }
    }
  
    &_hr {
      margin: rem(10) 0;
      border: none;
      border-top: 1px solid #CDCCD9;
    }

    &_button {
      background-color: transparent;
      color: var(--dkb-color-text);
      border: none;
      padding: 0;
      width: rem(15);
      height: rem(15);
      vertical-align: middle;
      cursor: pointer;

      svg .v,
      svg.h,
      svg {
        transform-origin: center;
        transition: transform .2s ease-in-out;
      }
    }
  }

  .is-compact,
  .is-full {
    padding-bottom: 1.5rem;
    margin-bottom: 1rem;
    display: inline-block;
    max-width: rem(170);
    border-radius: 4px;
    border-top: 4px solid var(--dkb-color-secondary);

    // we avoid fixed positioning for small sreens
    @media (min-width: 25rem) {
      bottom: 1rem;
      right: 1rem;
      position: fixed;
      z-index: 100;
    }

    .dk-badge {
      &_button {
        background-color: var(--dkb-color-primary);
        color: var(--dkb-color-contrast);
        position: absolute;
        bottom: calc(-.75rem/2 - #{rem(21)});
        left: 50%;
        transform: translateX(-50%);
        border-radius: 50%;
        padding: .75rem;
        width: rem(42);
        height: rem(42);
  
        svg .v {transform: rotate(90deg) translate(0, 4px);}
        svg .c {display: none;}
        &[aria-expanded="true"] svg .v {transform: rotate(0deg);}
      }
    }
  }

  .is-compact {
    padding-bottom: 0;

    .dk-badge {
      &_title {
        margin-bottom: 0;
        span:nth-child(1) {display: none;}
        span:nth-child(3) {display: block;}
      }
      &_button[aria-expanded="false"] {
        position: static;
        transform: none;
        margin: rem(-42) auto;
        height: 0;
        width: 0;
        padding: 0;
        svg {display: none;}

        &::before {
          content:"";
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }

        &:focus-visible::before {
          outline: 2px solid var(--dkb-color-primary);
          outline-offset: -2px;
        } 
      }
      &_content[data-expanded="true"] {
        padding-bottom: 1.5rem;
      }
    }
  }

  .is-full {
    .dk-badge {
      // small screens, same as compact
      @media (max-width: 50rem) {
        padding-bottom: 0;
        &_title {
          margin-bottom: 0;
          span:nth-child(1) {display: none;}
          span:nth-child(3) {display: block;}
        }

        &_button[aria-expanded="false"] {
          position: static;
          transform: none;
          margin: rem(-42) auto;
          height: 0;
          width: 0;
          padding: 0;
          svg {display: none;}

          &::before {
            content:"";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }

          &:focus-visible::before {
            outline: 2px solid var(--dkb-color-primary);
            outline-offset: -2px;
          } 
        }

        &_content[data-expanded="true"] {
          padding-bottom: 1.5rem;
        }
      }
    }
  }

  .is-footer {
    padding: 0 .5rem .5rem;
    .dk-badge {
      &_title {
        display: inline-flex;
        align-items: center;
        margin-right: 0;

        > span {
          margin: 0 .25rem;
        }
      }
      &_button {  
        display: inline-flex;
        margin: 0 0 .15rem .15rem;
        
        &::before {
          content:"";
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
        svg .v,
        svg .h {
          display: none;
        }
        &[aria-expanded="true"] svg {
          transform: rotate(-180deg);
        }
      }

      &_content {
        position: relative;
        z-index: 1;
      }

      &_hr {display: none;}

      &_data {
        display: inline-flex;

        + .dk-badge_data {
          margin: .75rem .5rem;
          &::before {
            content: "•";
            color: var(--dkb-color-primary);
            margin: 0 1rem 0 0;
          }
        }

        &:last-child {
          display: block;
        }
      }
    }
  }
  
  [data-dk-badge-content] {
    display: none;
    
    &[data-expanded="true"] {
      display: block;
    }
  }
  
  .sr-only {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;	
    word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
  }
}